Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.0.5
Flask-JWT-Extended==4.5.2
python-dotenv==1.0.0
Werkzeug==2.3.7

requests>=2.32.2

numpy
pandas
scikit-learn
scipy
joblib

torch
transformers
sentence-transformers
accelerate
safetensors

spacy
pdfplumber
pdf2image
pdfminer.six
PyPDF2
pytesseract
Pillow

faiss-cpu

langchain
langchain-community
langchain-core
langchain-text-splitters

datasets
evaluate

huggingface_hub

nltk

psycopg2-binary

python-multipart